<div class="container">
  <div id="map"
    style="width: 100%; height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <table class= "table">
    <% @assmats.each do |assmat| %>
    <tr>
      <td><%= assmat.name %></td>
      <td><%= assmat.address %></td>
      <td><%= assmat.distance %></td>
      <% if @user_inputs[assmat] %>
        <td class="assmat-comment" ><%= @user_inputs[assmat].comment %><br><a href="" class="edit-comment">edit</a></td>
        <td class="assmat-form hidden"><%= simple_form_for [@user_inputs[assmat]], remote: true do |f| %>
          <%= f.input :comment %>
          <%= f.input :selected, label: "En favoris" %>
          <%= f.submit "Update" %>
          <% end %>
        </td>
        <td><%= @user_inputs[assmat].selected %></td>
        <!-- A cool option would be to use f.association to avoid creating the @user_inputs hash (cf below)
          However, it put even more stuff on the Assmat controller. So we'll directly use user_inputs instead (cf above).
        <td><%= simple_form_for assmat do |f| %>
            <%= f.association :user_inputs, label_method: :comment, value_method: :selected, as: :check_boxes %>
            <%= f.submit "Update" %>
          <% end %>
        </td>
        -->
      <% else %>
        <td  class="assmat-comment" ><%= link_to "new", user_inputs_create_path(assmat: assmat) %></td>
        <td></td>
      <% end %>

    </tr>
    <% end %>
  </table>
</div>
