<div class="container">
  <div id="map"
    style="width: 100%; height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <table class= "table">
    <% @assmats.each do |assmat| %>
    <tr>
      <td><%= assmat.name %></td>
      <td><%= assmat.address %></td>
      <td><%= assmat.distance %></td>
      <% if @user_inputs[assmat] %>
        <td><%= @user_inputs[assmat].comment %></td>
        <td><%= @user_inputs[assmat].selected %></td>
      <% else %>
        <td></td>
        <td></td>
      <% end %>

    </tr>
    <% end %>
  </table>
</div>
