<div class="container">
  <div id="map"
    style="width: 100%; height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <table class= "table">
    <% @assmats.each do |assmat| %>
    <tr>
      <td><%= assmat.name %></td>
      <td><%= assmat.address %></td>
      <td><%= assmat.distance %></td>
      <td>
        <% if @user_inputs[assmat] %>
          <div class="user-input">
            <div class="read">
              <span><%= @user_inputs[assmat].comment %></span><br>
              <a href="" class="edit-comment" data-assmat-id="<%= assmat.id %>">edit</a>
            </div>
            <div class="write hidden">
              <%= simple_form_for [@user_inputs[assmat]], remote: true do |f| %>
              <%= f.input :comment %>
              <%= f.input :selected, label: "En favoris" %>
              <%= f.submit "Update" %>
              <% end %>
            </div>
          </div>
        <% else %>
          <%= link_to "new", user_inputs_create_path(assmat: assmat) %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
